<div class="user_header" style="width: 100%; height: 100%; margin: 20px">
    <h1 style="font-size:38px; width: fit-content; margin:0 19.5rem;">Seja bem-vindo <%= current_user.full_name %>!</h1>
    <a href="http://localhost:3000/">
        <button class="btn btn-md btn-primary" 
            style="color: white; margin:-70px 0 0 -10px; background-color:#2A3F54; border-color:#2A3F54;">
            Voltar ao menu de perguntas
        </button>
    </a>
</div>
<div class="user_content" style="margin:25px 0 0 15px">
    <div class="title-content">
        <h2>Veja abaixo um dashboard com sua atividade:</h2>
    </div>
    <div class="dashboard" style="margin: 45px 0 0 0">
        <div class="dashboard-content" style="margin-left:7.5rem;">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6" style="margin-right:45px">
                <div class="tile-stats" 
                    style="height: 180px; width: 230px; border-radius: 10px; background-color: #6c757d;">
                    <div class="icon">
                        <i class="fa fa-edit" 
                            style="margin: 10px 0 0 20px; font-size: 45px; display: grid;"></i>
                    </div>
                    <div style="margin:10px 0 0 10px">
                        <div class="count" style="color:#343a40">
                            <%= @user_statistic.total_questions %>
                            <h3 style="color:#cbcbcb; font-size:30px; margin:0 0 0 0">Total</h3>
                            <p style="color:#ffffff; font-size:13px; margin:10px 0 0 0; color:#343a40">
                                Quantidade total de questões respondidas!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6" style="margin-right:45px">
                <div class="tile-stats" 
                    style="height: 180px; width: 230px; border-radius: 10px; background-color: #28a745;">
                    <div class="icon">
                        <i class="fa fa-check" 
                            style="margin: 10px 0 0 20px; font-size: 45px; display: grid;"></i>
                    </div>
                    <div style="margin:10px 0 0 10px">
                        <div class="count" style="color:#22562e">
                            <%= @user_statistic.right_questions %>
                            <h3 style="color:#cbcbcb; font-size:30px; margin:0 0 0 0">acertos</h3>
                            <p style="color:#ffffff; font-size:13px; margin:10px 0 0 0; color:#22562e">
                                Quantidade total de questões respondidas corretamente!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                <div class="tile-stats" 
                    style="height: 180px; width: 230px; border-radius: 10px; background-color: #dc3545;">
                    <div class="icon">
                        <i class="fa fa-times" 
                            style="margin: 10px 0 0 20px; font-size: 45px; display: grid;"></i>
                    </div>
                    <div style="margin:10px 0 0 10px">
                        <div class="count" style="color:#6e000b">
                            <%= @user_statistic.wrong_question %>
                            <h3 style="color:#cbcbcb; font-size:30px; margin:0 0 0 0">erros</h3>
                            <p style="color:#ffffff; font-size:13px; margin:10px 0 0 0; color:#6e000b">
                                Quantidade total de questões respondidas erroneamente!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>